#banner{
	
	width: 270px;
	height: 370px;
	border: 1px black solid;
	text-align: center;	
	margin: auto; 
	 
}

#banner img {
    position: relative;
    margin-top: 10%;
    border: 1px green solid;
}

#banner #content{
	float:left;
}



